<!DOCTYPE html>

<h3>Ingredietes: </h3>

<table border="1px">
    <tr>
        <th>Id</th>
        <th>Nome em Inglês</th>
        <th>Nome Alternativo</th>
        <th>Nome em Português</th>
        <th>Origem</th>
        <th>Função Principal</th>
        <th>Referência</th>
        <th>Categoria</th>
    </tr>
    <tr *ngFor="let ingrediente of ingredientes">
        <td>{{ingrediente.ingrediente_id}}</td>
        <td>{{ingrediente.nome_en}}</td>
        <td>{{ingrediente.nome_alt}}</td>
        <td>{{ingrediente.nome_br}}</td>
        <td>{{ingrediente.origem}}</td>
        <td>{{ingrediente.funcao_principal}}</td>
        <td>{{ingrediente.referencia}}</td>
        <td>{{ingrediente.categoria}}</td>
    </tr>
</table>